# deps
node_modules/

# build outputs
dist/
out/
release/
*.log

# electron-builder cache
.cache/
electron-builder/
__snapshots__/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# env
.env
.env.*
!.env.example
